## Copyright (C) 2012 - 2025 ENCRYPTED SUPPORT LLC <adrelanos@kicksecure.com>
## See the file COPYING for copying conditions.

Source: mediawiki-shell
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@kicksecure.com>
Build-Depends: debhelper (>= 13), debhelper-compat (= 13)
Homepage: https://github.com/Kicksecure/mediawiki-shell
Vcs-Browser: https://github.com/Kicksecure/mediawiki-shell
Vcs-Git: https://github.com/Kicksecure/mediawiki-shell.git
Standards-Version: 4.7.2
Rules-Requires-Root: no

Package: mediawiki-shell
Architecture: all
Depends: helper-scripts, safe-rm, jq, retry, python3, ${misc:Depends}
Description: bash shell scripts for usage of MediaWiki API
 Download, upload changes to, and manage pages from MediaWiki wikis from the
 command line.
 .
 This tool may work on other wiki sites, but is primarily intended for
 management of the Kicksecure and Whonix wikis.
